In [4]:
import findspark
findspark.init()
findspark.add_packages('mysql:mysql-connector-java:8.0.11')

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName("ingestiontomysql") \
.config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
    .config("spark.jars.packages", "mysql:mysql-connector-java:8.0.17") \
.getOrCreate()

In [7]:
# spark = SparkSession.builder.appName("ingestiontomysql") \
# .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
#     .config("spark.jars.packages", "mysql:mysql-connector-java:8.0.17") \
# .getOrCreate()

In [19]:
 url='jdbc:mysql://localhost/dataengg'
 driver='com.mysql.jdbc.Driver'
 dbtable='sales_info'
 user='root'
 password='admin'

In [8]:
df = spark.read.option("header",True).csv("F:\\pyspark\\Python-and-Spark-for-Big-Data-master\\Course_Notes\\Spark_DataFrames\\sales_info.csv")

In [9]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|  200|
|   GOOG|Charlie|  120|
|   GOOG|  Frank|  340|
|   MSFT|   Tina|  600|
|   MSFT|    Amy|  124|
|   MSFT|Vanessa|  243|
|     FB|   Carl|  870|
|     FB|  Sarah|  350|
|   APPL|   John|  250|
|   APPL|  Linda|  130|
|   APPL|   Mike|  750|
|   APPL|  Chris|  350|
+-------+-------+-----+

In [22]:
df.count()

12

In [10]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: string (nullable = true)

In [12]:
import mysql.connector

In [15]:
conn = mysql.connector.connect(user = 'root', database='dataengg',
                               password='admin',
                               host="127.0.0.1",
                               )

In [16]:
cursor = conn.cursor()

In [20]:
df.write.format('jdbc').options(
      url=url,
      driver=driver,
      dbtable='sales_info',
      user=user,
      password=password).mode('append').save()

In [47]:
jdbc_df = spark.read.format("jdbc").options(
    url =  url,
    driver=driver,
      dbtable='sales_info',
      user=user,
      password=password).load()

In [49]:
jdbc_df.createOrReplaceTempView("sales_info_df");

In [48]:
jdbc_df.show()

+-------+-------+-----+
|company| person|sales|
+-------+-------+-----+
|   GOOG|    Sam|  200|
|   GOOG|Charlie|  120|
|   GOOG|  Frank|  340|
|   MSFT|   Tina|  600|
|   MSFT|    Amy|  124|
|   MSFT|Vanessa|  243|
|     FB|   Carl|  870|
|     FB|  Sarah|  350|
|   APPL|   John|  250|
|   APPL|  Linda|  130|
|   APPL|   Mike|  750|
|   APPL|  Chris|  350|
|   GOOG|    Sam|  200|
|   GOOG|Charlie|  120|
|   GOOG|  Frank|  340|
|   MSFT|   Tina|  600|
|   MSFT|    Amy|  124|
|   MSFT|Vanessa|  243|
|     FB|   Carl|  870|
|     FB|  Sarah|  350|
+-------+-------+-----+
only showing top 20 rows

In [51]:
spark.sql("select * from sales_info_df").show()

+-------+-------+-----+
|company| person|sales|
+-------+-------+-----+
|   GOOG|    Sam|  200|
|   GOOG|Charlie|  120|
|   GOOG|  Frank|  340|
|   MSFT|   Tina|  600|
|   MSFT|    Amy|  124|
|   MSFT|Vanessa|  243|
|     FB|   Carl|  870|
|     FB|  Sarah|  350|
|   APPL|   John|  250|
|   APPL|  Linda|  130|
|   APPL|   Mike|  750|
|   APPL|  Chris|  350|
|   GOOG|    Sam|  200|
|   GOOG|Charlie|  120|
|   GOOG|  Frank|  340|
|   MSFT|   Tina|  600|
|   MSFT|    Amy|  124|
|   MSFT|Vanessa|  243|
|     FB|   Carl|  870|
|     FB|  Sarah|  350|
+-------+-------+-----+
only showing top 20 rows